[submodule "contrib/dmtf/spdm-emu"]
	path = contrib/dmtf/spdm-emu
	url = https://github.com/DMTF/spdm-emu.git
[submodule "contrib/dmtf/spdm-dump"]
	path = contrib/dmtf/spdm-dump
	url = https://github.com/DMTF/spdm-dump.git
[submodule "contrib/RecordFlux-specifications"]
	path = contrib/RecordFlux-specifications
	url = https://github.com/Componolit/RecordFlux-specifications.git
[submodule "contrib/RecordFlux"]
	path = contrib/RecordFlux
	url = https://github.com/Componolit/RecordFlux.git
